body {
  background-color: MintCream;
  color: black;
  size: 17px;
  text-align: left;
  }
  h1 {
    color: black;
    text-align: left;
  }
 h2 {
 text-align: left;
color: darkred
}
ul {text-align: left}
ul li.checked {text-decoration: line-through;}


  input {
     margin: 0;
     border: none;
     border-radius: 0;
     width: 40%;
     float: left;
     font-size: 16px;}

     .addBtn {
       padding: 10px;
       width: 25%;
       background: #d9d9d9;
       color: #555;
       float: left;
       text-align: center;
       font-size: 16px;
       cursor: pointer;
       transition: 0.3s;
       border-radius: 0;
     }
